@page
@model EFDotnet21.Pages.StafManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Manager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Manager.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Store)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Store.StoreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff.StaffId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
